= simple_form_for user, url: url, method: :post, html: { class: 'ui form' } do |f|
  = f.input :email, wrapper_html: { class: 'field' }, required: false
  = f.input :password, label: 'Пароль', wrapper_html: { class: 'field' }
  = f.submit 'Войти', class: 'ui button'
